.precomp/
t/test-data/.secret
static/resource
frontend/cache
Makefile
Makefile.in
/frontend/compiled/
frontend/qx_packages/
/configure
/config.*
frontend/node_modules/
autom4te.cache/
aclocal.m4
etc/*.cfg
etc/*.yaml
etc/*.secret
public/
conftools/
