*** input_parameters ***
# Created as DB dump from user=cyrill.bonjour@bjengineering.ch, dataset=mix
+Application::Slurry::Applrate
	appl_rate = 30
	dilution_parts_water = 1
+Application::Slurry::Cfermented
	fermented_slurry  = 0
+Application::Slurry::Cseason
	appl_autumn_winter_spring = 45
	appl_summer = 55
+Application::Slurry::Csoft
	appl_evening = 20
	appl_hotdays = sometimes
+Application::Slurry::Ctech
	share_deep_injection = 0
	share_shallow_injection = 0
	share_splash_plate = 100
	share_trailing_hose = 0
	share_trailing_shoe = 0
+Application::SolidManure::CincorpTime
	incorp_gt3d = 0
	incorp_lw1d = 0
	incorp_lw1h = 0
	incorp_lw3d = 0
	incorp_lw4h = 0
	incorp_lw8h = 0
	incorp_none = 100
+Application::SolidManure::Cseason
	appl_autumn_winter_spring = 70
	appl_summer = 30


+Livestock::DairyCow[Stall Milchkühe]::Excretion::CConcentrates
	amount_summer = 1.5	
	amount_winter = 2.5
+Livestock::DairyCow[Stall Milchkühe]::Excretion::CFeed
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Excretion::CFeedSummerRatio
	share_hay_summer = 0
	share_maize_pellets_summer = 0
	share_maize_silage_summer = 0
+Livestock::DairyCow[Stall Milchkühe]::Excretion::CFeedWinterRatio
	share_beets_winter = 0
	share_grass_silage_winter = 0
	share_maize_pellets_winter = 0	
	share_maize_silage_winter = 0
	share_potatoes_winter = 0   
+Livestock::DairyCow[Stall Milchkühe]::Excretion::CMilk
	milk_yield = 6800
+Livestock::DairyCow[Stall Milchkühe]::Excretion
	dairy_cows = 25
+Livestock::DairyCow[Stall Milchkühe]::Grazing
	grazing_days = 160
	grazing_hours = 8
+Livestock::DairyCow[Stall Milchkühe]::Housing::Floor
	UNECE_category_1_mitigation_options_for_housing_systems_for_dairy_cows = none
	mitigation_options_for_housing_systems_for_dairy_cows = system_Comfort_Slat_Mat_with_Mat_&_Valve
+Livestock::DairyCow[Stall Milchkühe]::Housing::KGrazing
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Housing::Type::Loose_Housing_Deep_Litter
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Housing::Type::Loose_Housing_Slurry
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Housing::Type::Loose_Housing_Slurry_Plus_Solid_Manure
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Housing::Type::Tied_Housing_Slurry
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Housing::Type::Tied_Housing_Slurry_Plus_Solid_Manure
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Housing::Type
	dimensioning_barn = 25
	housing_type = Tied_Housing_Slurry_Plus_Solid_Manure
+Livestock::DairyCow[Stall Milchkühe]::Housing
	ignore = ignore
+Livestock::DairyCow[Stall Milchkühe]::Yard
	exercise_yard = available_roughage_is_not_supplied_in_the_exercise_yard
	floor_properties_exercise_yard_SHL = solid_floor
	floor_properties_exercise_yard_LU = solid_floor
	yard_days = 160
+Livestock::DairyCow[Stall Milchkühe]
	ignore = ignore

+PlantProduction::AgriculturalArea
	agricultural_area = 20
+PlantProduction::MineralFertiliser
	mineral_nitrogen_fertiliser_except_urea = 150
	mineral_nitrogen_fertiliser_urea = 0
+PlantProduction::RecyclingFertiliser
	compost = 0
	liquid_digestate = 0
	solid_digestate = 0
+Storage::Slurry[Güllelager 1]::EFLiquid
	contains_cattle_manure = yes
	contains_pig_manure = no
	cover_type = solid_cover
+Storage::Slurry[Güllelager 1]
	depth = 2.7
	mixing_frequency = 7_to_12_times_per_year
	volume = 200
+Storage::SolidManure::Poultry
	share_applied_direct_poultry_manure = 0
	share_covered_basin = 0
+Storage::SolidManure::Solid
	share_applied_direct_cattle_other_manure = 30
	share_covered_basin_cattle_manure = 0

	share_applied_direct_pig_manure = 0
	share_covered_basin_pig_manure = 0
